<!DOCTYPE html>
<html>
<head>
	<title>layout fixo</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="fixo.css">
</head>
<body>

	<div id="container">

		<div id="marca">marca</div>

		<div id="conteudo">
			
			<div id="conteudo-principal">

				<h2>Praesent leo ipsum, tincidunt tincidunt bibendum vitae</h2>
				<p>Praesent leo ipsum, tincidunt tincidunt bibendum vitae, convallis at leo. Donec convallis vestibulum magna, vitae malesuada sapien semper consectetur. Sed tincidunt, eros sit amet molestie luctus, massa eros scelerisque ipsum, vel dignissim ante est sed felis.</p>

			</div>

			<div id="conteudo-secundario">
				<h2>Praesent leo ipsum, tincidunt tincidunt bibendum vitae</h2>
				<p>Praesent leo ipsum, tincidunt tincidunt bibendum vitae, convallis at leo. Donec convallis vestibulum magna, vitae malesuada sapien semper consectetur. Sed tincidunt, eros sit amet molestie luctus, massa eros scelerisque ipsum, vel dignissim ante est sed felis.</p>

			</div>

		</div>

		<div id="navegacao">
			<ul>
				<li><a href="" id="atual">Home</a></li>
				<li><a href="">Sobre</a></li>
				<li><a href="">Noticias</a></li>
				<li><a href="">Produtos</a></li>
				<li><a href="">Servicos</a></li>
				<li><a href="">Clientes</a></li>
				<li><a href="">Contato</a></li>
			</ul>
		</div>

		<div id="rodape">rodape</div>	
	
	

	</div>

</body>
</html>