@font-face {
    font-family: 'Phiscilla - Personal Use';
    src: url('PhiscillaPersonalUse.woff2') format('woff2'),
        url('PhiscillaPersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Road Rage';
    src: url('RoadRage.woff2') format('woff2'),
        url('RoadRage.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

